#game{
	background-color: #0ac2d2;
}
#game .content{
}
#game .action-bar{
	color: #0ac2d2;
	background-color: #fff;
}
#game .navigation-bar{
}
.card figure{
	line-height: 100%;
    color: white;
    text-align: center;
}
.card .front {
	background-color: #0ac2d2;
}
.card .back {
	background-color: #0ac2d2;
	transform: rotateY( 180deg );
}