#game{
	background-color: #0ac2d2;
}
#game .content{
}
#game .action-bar{
	background-color: #fff;
}
#game .navigation-bar{
}
.card figure{
	line-height: 100%;
    color: black;
    text-align: center;
}
.card .front {
	vertical-align: middle;
}
.card .back {
	transform: rotateY( 180deg );
}